#new-contactContent {
  scroll-content {
    background-color: #F4F4F4;
  }
}
#formInput {
  background-color: #F4F4F4;
}
#saveButton {
  background-color: white;
  margin-top: 5px;
  color: #2A88F5;
}
#cancelButton {
  background-color: white;
  margin-top: 5px;
  color: #F53D3D;
}
#deleteButton {
  background-color: #F53D3D;
  margin-top: 5px;
  color: #FFF;
}
.error-box {
  color: #F4F4F4;
  background-color: white;
  padding-left: 10px;
  padding-top : 5px;
  padding-bottom: 5px;
}
/*.alert-button-group {
  text-align: center;
}
.alert-button {
    display: inline-block;
    float:left;
}*/
